*{
	margin: 0;
	padding: 0;
}
#box{
	position: absolute;
	width:450px;
	height: 450px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	/* background-color: #eeeeee; */
	z-index: 100;
	transform: translateY(-452px);
}

#box2{
	width:450px;
	height: 450px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	background-color: #eeeeee;
	
}

.s{
	position: absolute;
	width: 98px;
	height: 98px;
	border: 1px solid rgba(0,0,0,0);
	float: left;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 10px;
	z-index: 100;
	/* background-color: #ffffff; */
}
.s2{
	width: 98px;
	height: 98px;
	border: 1px solid #ffffff;
	float: left;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 10px;
	z-index: 100;
	background-color: #ffffff;
}

#score{
	height: 100px;
	font-size: 50px;
}